@use "variables" as var

/* #region Intro */
.intro
    display: flex
    flex-direction: column
    position: absolute
    width: 100%
    height: 100dvh
    text-align: center
    z-index: 3
    background-color: #F5F5FA

    &__img
        width: 100%
        height: 400px

    &__title
        font-size: 2.8vmax
        font-weight: 800
        margin: 1em 0 1em 0

    &__subtitle
        color: var.$p-color
        padding: 0 10vw
        font-size: 2vmax
        margin: 0

    &__skip-btn
        margin: auto 3em 2em 3em
        background-color: var.$element-color
        color: #ffffff
        border: none
        padding: 1em 0
        font-size: 2vmax
        font-weight: 500
        border-radius: 30px
/* #endregion */

/* #region Header */
.header
    display: flex
    padding: 1.5em 1.5em 0 1.5em
    align-items: center
    margin-bottom: 1.5em

    &__profile-picture
        width: 15%
        aspect-ratio: 1/1
        object-fit: cover
        border-radius: 50%
        margin-right: 1em
        border: 3px solid #ffffff
        box-shadow: 5px 5px 15px 1px #57419d3e

    &__location
        margin: 0 auto 10px 0
        font-size: 4.4vmin

        svg
            font-size: 1.3em
            position: relative
            top: 5px

            &:first-child
                color: var.$element-color
                margin-right: 5px

            &:last-child
                color: var.$icons-color
                margin-left: 10px

    &__notify-btn
        justify-self: end
        padding: 3.5vmin
        line-height: 0px
        color: var.$icons-color
        background-color: transparent
        border: none
        border-radius: 50px
        box-shadow: 5px 5px 15px 1px #57419d3e

        svg
            font-size: 6.5vmin
/* #endregion */

/* #region Filter */
.filter
    display: flex
    overflow: scroll
    white-space: nowrap
    scroll-snap-type: x mandatory
    -ms-overflow-style: none
    scrollbar-width: none
    height: 90px
    align-items: center
    padding: 0 1.5em
    margin-bottom: 1em

    &::-webkit-scrollbar
        display: none

    &__option
        margin: 0 15px
        scroll-snap-stop: always
        scroll-snap-align: end
        font-size: 2.3vmax
        color: var.$element-color
        box-shadow: 5px 5px 15px 1px #57419d3e
        padding: 5px 20px
        border-radius: 20px

        &:first-child
            margin-left: 0

/* #endregion */

/* #region Pets */

.pet-box
    display: flex
    flex-direction: column
    align-items: end

    &:last-child
        margin-bottom: 7em

    &__favorite-btn
        height: 0

        button
            position: relative
            top: 15px
            right: 15px
            border-radius: 50%
            box-shadow: 5px 5px 15px 1px #57419d3e
            color: #FF4B33
            border: none
            align-self: start
            padding: 1.5vmin 1.8vmin
            svg
                font-size: 4vmin
                position: relative
                top: 3px

.pet-section
    display: flex
    flex-direction: column
    padding: 0 1.5em

    .pet-item
        display: flex
        padding: 10px 10px 0 10px
        text-decoration: none
        box-shadow: 5px 5px 15px 1px #57419d3e
        margin-bottom: 2em
        border-radius: 20px

        &__img
            width: 32vw
            aspect-ratio: 1/1
            object-fit: cover
            margin-right: 15px

    .pet-info

        .pet-header
            display: flex
            justify-content: space-between
            align-items: center

            &__title
                margin: 10px 0 10px 0
                color: #000000
                font-size: 5.9vmin

        &__location
            color: var.$p-color
            margin: 0 0 10px 0
            font-size: 3.7vmin

            svg
                color: var.$icons-color
                position: relative
                top: 2px
                margin-right: 5px

        &__description
            margin: 0
            color: #4F4F4F
            font-size: 3.7vmin
/* #endregion */

/* #region Nav */
.navigation
    width: 100%
    display: flex
    justify-content: space-around
    position: fixed
    bottom: 0
    z-index: 2
    background-color: #eeeef5
    padding: 1.8em 0
    border-radius: 20px 20px 0 0
    box-shadow: 0 -5px 15px 1px #57419d1f

    &__route
        font-size: 1.8em
        box-shadow: 5px 5px 15px 1px #57419d3e
        border-radius: 50%
        padding: 9px
        line-height: 0
        border: none
/* #endregion */
